/*Etiquetas, .clase , #id */
h1, article {
    text-decoration: underline;
}

/* Todos los p que sean hijos dentro de un article, en cualquier nivel*/
article p {
    background-color: aquamarine;
}

/* > hace referencia a los primeros hijos*/
ol > li {
    color:rebeccapurple;
}

article > p {
    color: blue;
}

#caja > span{
    background-color: yellow;
}

/*Pseudoclases*/
/*nth-of-type (numero o un indicador)*/
tr:nth-of-type(odd){
    background-color: chocolate;
}
tr:nth-of-type(even){
    background-color: greenyellow;
}